@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
.homeSlider{padding: 30px 0px;}
.home_slider_Main{border-radius: 25px; overflow:hidden;}
.slick-arrow{position: absolute; top: 47%;width:60px !important;height:60px !important;border-radius: 50% !important;background:rgba(255, 255, 255, 0.6) !important;z-index:100 !important;transition: all 0.2s ease-in-out !important;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.slick-arrow.slick-next{right:2% !important;}
.slick-arrow.slick-prev{left:2% !important;}
.slick-prev:before{content: "\f104" !important; font-family: FontAwesome !important;font-size: 30px !important;color: #000 !important;}
.slick-next:before{content: "\f105" !important; font-family: FontAwesome !important;font-size: 30px !important;color: #000 !important;}
.slick-arrow:hover{background: #0a094d !important;}
.slick-arrow:hover::before{color: #fff !important; }
.home_slider_Main .slick-dots{position: absolute;bottom: 30px !important;}
.home_slider_Main .slick-dots button::before{width: 10px !important;height: 10px !important;font-size: 18px !important;color:aquamarine}
.slick-active button::before{color: #fff !important;}
.home_slider_Main .item{position:relative;}
.home_slider_Main .item .info{position: absolute;top:15%;left:7%;z-index: 100;}
.home_slider_Main .item .info h2{font-size: 70px !important; font-weight: bolder;color:#d9d9d9a3;}
.home_slider_Main .item .info p{font-size: 35px;font-weight: 500;color:#7E7E7E;}
.img1 {
    height: 70vh;
    width: 100vw;
    object-fit: cover;
    object-position: center center;
  }
  .home_slider_Main2{
    display:none;
  }
@media (max-width: 600px) {
  .home_slider_Main2{border-radius: 25px; overflow:hidden;}

    .home_slider_Main2 .item2 .info2 h2{font-size: 40px !important;color:#eaf1f1b5; }
.home_slider_Main2 .item2 .info2 p{font-size: 20px;color:#eaf1f1b5;}
.home_slider_Main2 .slick-dots{position: absolute;bottom: 30px !important;}
.home_slider_Main2 .slick-dots button::before{width: 10px !important;height: 10px !important;font-size: 18px !important;color:aquamarine}
.slick-active button::before{color: #fff !important;}
.home_slider_Main2 .item2{position:relative;}
.home_slider_Main2 .item2 .info2{position: absolute;top:36%;left:7%;z-index: 100;}
.slick-arrow{display: none;}

.home_slider_Main2{
  display: block;
}
.home_slider_Main{
  display: none;
}



  }
  